<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.js"></script>
<div id="target">
loading.....
</div>


<template id="tmpl1">
        <h1>Comments</h1>

        <div id="comments">
          {{#each comments}}
          <h3>{{title}}</h3>
          <div>{{body}}</div>
          {{/each}}
        </div>
</template>
<script>
    
//Named
   // $.get("https://jsonplaceholder.typicode.com/posts",HandleAjax)

//Ananomus 
    $.get("https://jsonplaceholder.typicode.com/posts",function(data){
        var obj = {};
        obj.comments = data;
        console.log(obj);
        var source   = document.getElementById("tmpl1").innerHTML;
        var template = Handlebars.compile(source);
        document.getElementById("target").innerHTML  = template(obj);
   
    })


    function HandleAjax(data){
        var obj = {};
        obj.comments = data;
        console.log(obj);
        var source   = document.getElementById("tmpl1").innerHTML;
        var template = Handlebars.compile(source);
        document.getElementById("target").innerHTML  = template(obj);
    
    }
</script>