<div id="demo">

</div>
<script type="text/javascript">
"use strict";

let num = "ten";
    try {
      num = parseInt(num) - 2;
      addAlert(num)
    } catch (e) {
        console.log(e)
    }finally {
      console.log("dran finally works");
      num = 10;
    }

    debugger;

        eval("alert('hello')")

    x = 5; // Assign 5 to x

    elem = document.getElementById("demo"); // Find an element
    elem.innerHTML = x;                     // Display x in the element

    var x; // Declare x

</script>
