<div id="console">
</div>
<style>
    #console {
        border: 1px solid black;
        background-color: black;
        color: white;
        font-family: consolas;
        width: 90%;
        padding: 2px;
        margin: 2px;
        max-height: 1000px
    }
</style>

<script>

    var $console = document.getElementById('console');
    function Log(msg) {

        $console.innerHTML += msg + "<br>";

    }


    Log("console started");

</script>


<script src="/building.js"></script>
<script>


    var f101 = new Flat(2, "101");
    var f102 = new Flat(2, "102");
    var f103 = new Flat(4, "103");

    var f201 = new Flat(2, "201");
    var f202 = new Flat(2, "202");
    var f203 = new Flat(4, "203");

    var floor1 = new Floor([f101, f102, f103], "1");
    var floor2 = new Floor([f201, f202, f203], "2");

    var megacenter = new Building([floor1, floor2], "Mega center");



</script>


<script>
    //basic for loop
    for (let index = 1; index <= 11; index++) {
        
        setTimeout(function(){
    //        Log("message" + index);
      
        }, index * 1000);
    }

Log(megacenter.GetDetails());
    megacenter.noOfRooms = 0;
    for (let index = 0; index < megacenter.floors.length; index++) {
        const _floor = megacenter.floors[index];
        Log(_floor.GetDetails());

        // _floor.flats.forEach(_flat => {
        //     Log('    ' + _flat.GetDetails());
        //     megacenter.noOfRooms += _flat.NoOfRooms;
        // });

        for (let index = 0; index < _floor.flats.length; index++) {
            const _flat = _floor.flats[index];
            Log('    ' + _flat.GetDetails());
            megacenter.noOfRooms += _flat.NoOfRooms;
        }
    }


    Log(`No of rooms in ${megacenter.Name} are ${megacenter.noOfRooms}`)

    while (megacenter.noOfRooms > 0) {
        var _ber =Math.floor(Math.random() * 3);
        //this for continueing without going throgh full code
        if(_ber == 0)
            continue;
        //this is to stop without satisfying loop condition
        if(megacenter.noOfRooms == 7)
            break;
        megacenter.noOfRooms = megacenter.noOfRooms - _ber ;
        Log(megacenter.noOfRooms);
    }

//this is for reflecting object
  for (const key in megacenter) {
        if (megacenter.hasOwnProperty(key)) {
            const element = megacenter[key];

            Log(key + "=>" + JSON.stringify(element) + "<br>");

        }
    }

    Log("=============================================================================<br>")
 //this is for iterating over array (forEach)loo
   for (const floor of megacenter.floors) {

        Log(JSON.stringify(floor));
        Log("======================> <br>")
        for (const flat of floor.flats) {
            Log(JSON.stringify(flat));
            
        }

   }

/*

    //with array 
    Log(megacenter.GetDetails());
    megacenter.noOfRooms = 0;
    for (let index = 0; index < megacenter.floors.length; index++) {
        const _floor = megacenter.floors[index];
        Log(_floor.GetDetails());

        // _floor.flats.forEach(_flat => {
        //     Log('    ' + _flat.GetDetails());
        //     megacenter.noOfRooms += _flat.NoOfRooms;
        // });

        for (let index = 0; index < _floor.flats.length; index++) {
            const _flat = _floor.flats[index];
            Log('    ' + _flat.GetDetails());
            megacenter.noOfRooms += _flat.NoOfRooms;
        }
    }

    Log(`No of rooms in ${megacenter.Name} are ${megacenter.noOfRooms}`)

    while (megacenter.noOfRooms > 0) {

        megacenter.noOfRooms = megacenter.noOfRooms - Math.floor(Math.random() * 3);
        Log(megacenter.noOfRooms);
    }


    for (const key in megacenter) {
        if (megacenter.hasOwnProperty(key)) {
            const element = megacenter[key];

            Log(key + "=>" + JSON.stringify(element));

        }
    }


    for (const iterator of megacenter.floors) {

        Log(JSON.stringify(iterator));

    }
*/


</script>