<script src="/building.js"></script>
<script>
   

    var f101 = new Flat(2 , "101");
    var f102 = new Flat(2 , "102");
    var f103 = new Flat(4 , "103");

    var f201 = new Flat(2 , "201");
    var f202 = new Flat(2 , "202");
    var f203 = new Flat(4 , "203");
    
    var floor1 = new Floor([f101 , f102 , f103] , "1");
    var floor2 = new Floor([f201 , f202 , f203] , "2");

    var megacenter = new Building([floor1 , floor2] , "Mega center");


    console.log(megacenter);
    //serialisation 
    var megastring  = JSON.stringify(megacenter);
    console.log(megastring)

    //de-serialisation
    var Building  = JSON.parse(megastring);
    console.dir(Building);
    

</script>